name: Helm Chart Mirror (main)
run-name: Helm Chart Mirror (main)

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  helm_chart_mirror:
    name: Mirror Helm charts
    uses: adrian91ro/cicd-templates/.github/workflows/reusable-helm-chart-mirror-from-configs.yml@latest
    with:
      chart_configs_dir: helm_chart_mirrors
      deployment_environment: production
    secrets:
      artifactory_registry_repository: ${{ secrets.ARTIFACTORY_CONTAINER_REPO }}
      artifactory_registry_host: ${{ secrets.ARTIFACTORY_CONTAINER_REGISTRY_HOST }}
      artifactory_helm_registry_host: ${{ secrets.ARTIFACTORY_HELM_REGISTRY_HOST }}
      artifactory_username: ${{ secrets.ARTIFACTORY_USERNAME }}
      artifactory_token: ${{ secrets.ARTIFACTORY_TOKEN }}
